.imgstyle, .kvd{
    width: 100%;
}
footer{
   background-color: #101010;
   width: 100%; 
}
footer address{
    padding-top: 10px;
}

#imaginary_container{
    margin-top: 70px;
    margin-bottom: 20px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    padding: 0px !important;
}
.stylish-input-group .form-control{
	border-right: 0; 
	box-shadow: 0 0 0; 
	border-color: #ccc;
}
.stylish-input-group button{
    border: 0;
    background: transparent;
}
.kvd{
    padding: 10px 20px ;
}
.fa{
    padding-top: 50px;
}