.imgstyle, .kvd{
    width: 100%;
}
footer{
    padding-left: 5px;
    background-color: #101010; 
}

#imaginary_container{
    margin-top: 70px;
    margin-bottom: 20px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    padding: 0px !important;
}
.stylish-input-group .form-control{
	border-right: 0; 
	box-shadow: 0 0 0; 
	border-color: #ccc;
}
.stylish-input-group button{
    border: 0;
    background: transparent;
}
.kvd{
    padding: 10px 20px ;
}
.fa{
    padding-top: 50px;
}
.overskrifter{
    padding-left: 18px;
}
article p{
    padding-left: 20px;
    padding-right: 20px;
}
kob{
    margin-right: 20px;
}